.profile-container {
  height: 100%;
  min-height: calc(100vh - 192px);
  padding: 20px;
}

.profile-container .user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  line-height: 1;
}

.profile-container .user-container span i {
  color: #4d869c;
  font-size: 120px;
}

.profile-container .user-container .user-name {
  color: #4d869c;
}

.profile-container .user-container .user-email {
  font-size: 14px;
  font-weight: 500;
  color: #999;
}

.profile-container .user-container .user-control {
  display: flex;
  gap: 20px;
}

.profile-container .user-container .user-control .edit-info {
  background-color: white;
  padding: 5px 15px;
  border-radius: 6px;
  border: 2px solid #4d869c;
  color: #4d869c;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s linear all;
  font-size: 18px;
  outline: none;
}

.profile-container .user-container .user-control .edit-info:hover {
  background-color: #4d869c;
  color: white;
}

.profile-container .user-container .user-control .edit-info:disabled {
  opacity: 0.5;
  background-color: #4d869c;
  color: white;
  cursor: not-allowed;
}

.profile-container .user-container .user-control .delete-user {
  background-color: white;
  padding: 5px 15px;
  border-radius: 6px;
  border: 2px solid #ff204e;
  color: #ff204e;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s linear all;
  font-size: 18px;
  outline: none;
}

.profile-container .user-container .user-control .delete-user:hover {
  background-color: #ff204e;
  color: white;
}

.profile-container .edit-form,
.profile-container .delete-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px 20px;
  border: 2px solid #7ab2b2;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  gap: 20px;
  z-index: 99999;
}

.profile-container .delete-form {
  border-color: #ff204e;
}

.profile-container .edit-form label {
  font-size: 20px;
  color: #4d869c;
  font-weight: 600;
}

.profile-container .edit-form input {
  padding: 5px 10px;
  border: 1px solid #7ab2b2;
  outline: none;
  border-radius: 4px;
  font-size: 18px;
}

.profile-container .edit-form .edit-control .save,
.profile-container .edit-form .edit-control .cancel,
.profile-container .delete-form .delete-control .delete,
.profile-container .delete-form .delete-control .cancel {
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
  border: 2px solid;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s linear all;
}

.profile-container .edit-form .edit-control,
.profile-container .delete-form .delete-control {
  display: flex;
  justify-content: space-around;
}

.profile-container .edit-form .edit-control .save,
.profile-container .delete-form .delete-control .cancel {
  color: #38e54d;
  border-color: #38e54d;
}

.profile-container .edit-form .edit-control .cancel,
.profile-container .delete-form .delete-control .delete {
  color: #ff204e;
  border-color: #ff204e;
}

.profile-container .edit-form .edit-control .save:hover,
.profile-container .delete-form .delete-control .cancel:hover {
  background-color: #38e54d;
  color: white;
}

.profile-container .edit-form .edit-control .cancel:hover,
.profile-container .delete-form .delete-control .delete:hover {
  background-color: #ff204e;
  color: white;
}
